
    /* FAQ PAGE */
    .view {
		.view-content {
			margin-top: 3rem;
		}

      .views-row{
        width: 100%;
      }
		.faq-list-content {
			margin-top: 25px;
			padding-bottom: 20px;
			border-bottom: 1px solid #c1c1c1;
			.faq-list-content-title {
				position: relative;
				h2 {                    
					margin: 5px;
					padding: 0;	
					font-size: 18px;
					line-height: 25px;
					width: calc(100% - 60px);
					display: inline-block;
					a {
						color: #222;
						letter-spacing: 0.3px;
						&hover, &focus, &selected {
							color: #222;
							text-decoration: none;
						}
					}
				}
				span {
					width: 30px;
					margin: 5px;
					padding: 0;	
					font-size: 30px;
					line-height: 26px;
					color: #222;
					cursor: pointer;
					position: absolute;
					top: 0;
					right: 0;
				}
			}
			.faq-list-content-body {
				margin: 5px;
				color: #555;
				padding-right: 50px;
				h1, h2, h3, h4, h5 {
					font-size: 1.6rem;
					font-weight: bold;
				}
			}
		}
	}
	